.container {
  margin-top: 80px;
  background-color: #faaf75;
  padding: 40px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.flex {
  display: flex;
}
.logo {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: -0.04em;
  color: black;
  transition: 0.4s;
}
.logo:hover {
  color: aliceblue;
}
.contact {
  color: black;
  margin-left: 10px;
  text-decoration: none;
  transition: 0.4s;
}
.contact:hover {
  color: aliceblue;
}
.icon {
  color: black;
  transition: 0.6s;
  text-decoration: none;
}
.icon:hover {
  color: aliceblue;
}
