body {
  margin: 0;
  background:url("/public/img/138280043_aa9b66e9-0f9b-4aed-834b-f846a7cc272b.jpg");
}
li {
  list-style-type: none;
  margin: 0;
}
a{
  text-decoration: none;
}

ul {
  margin-left: 0;
  /* Отступ слева в браузере IE и Opera */
  padding-left: 0;
  /* Отступ слева в браузере Firefox, Safari, Chrome */
}
p,
h1,
h2 {
  margin: 0 ;
  margin-bottom: 0 !important;
  padding: 0;
}
p{
  margin-bottom: 0rem;
}
.swiper-button-prev::after {
  color: #f89345;
}
.swiper-button-next::after {
  color: #f89345;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.accordion .accordion-item {
  background-color: #f89345; /* Світлий фон для елементів */
  border: 3px solid #f89345;
  color: #f89345;
}

.accordion  .accordion-header {
  font-size: 18px;          /* Змінити розмір тексту заголовків */
  font-weight: bold;
  color:#f89345;
}

.accordion .accordion-button {
  background-color:black; /* Синій фон кнопки */
  color: floralwhite;              /* Білий текст */
  border: none;              /* Видалення бордеру */
}

.accordion .accordion-button:not(.collapsed) {
  background-color:black;
  color: floralwhite;
}
.accordion-body {
  padding: 20px;             /* Змінити відступи всередині тіла */
  background-color:black; /* Фон для тексту */
  color: floralwhite;               /* Сірий текст */
}

.accordion .accordion-button:focus {
  outline: none; /* Видаляє стандартний обвід */
  box-shadow: 0 0 0 0.2rem rgba(249, 147, 69, 0.5); /* Додає м'який кольоровий фокус */
  border-color: #f89345; /* Змінює колір бордера */
}


